Repository GaloisInc/saw-script, pull requests merged in 2019-06, with the labels that each got.

#475 Print failed points-to assertions in terms of LLVM values
  src/SAWScript/CrucibleOverride.hs
Labels: error-messages

#479 Add a SAWscript position to calls to Crucible's malloc
  src/SAWScript/CrucibleBuiltins.hs
  src/SAWScript/CrucibleOverride.hs
Labels: error-messages

#497 Crucible/LLVM: User-specified sizes for allocations
  intTests/test0047_alloc_sized/.gitignore
  intTests/test0047_alloc_sized/Makefile
  intTests/test0047_alloc_sized/test.bc
  intTests/test0047_alloc_sized/test.c
  intTests/test0047_alloc_sized/test.ll
  intTests/test0047_alloc_sized/test.saw
  intTests/test0047_alloc_sized/test.sh
  src/SAWScript/Crucible/LLVM/Builtins.hs
  src/SAWScript/Interpreter.hs
Labels: crucible/llvm

#503 Allocate only pre-condition allocations in verifyPrestate
  intTests/test0048_alloc_post/Makefile
  intTests/test0048_alloc_post/test.bc
  intTests/test0048_alloc_post/test.c
  intTests/test0048_alloc_post/test.ll
  intTests/test0048_alloc_post/test.saw
  intTests/test0048_alloc_post/test.sh
  src/SAWScript/Crucible/LLVM/Builtins.hs
Labels: bug, crucible/llvm

#504 Allocate readonly memory as readonly.
  src/SAWScript/Crucible/LLVM/Builtins.hs
Labels: bug, crucible/llvm

#506 Cleanup, enable & squash warnings
  src/SAWScript/Crucible/Common/MethodSpec.hs
  src/SAWScript/Crucible/JVM/Builtins.hs
  src/SAWScript/Crucible/JVM/Override.hs
  src/SAWScript/Crucible/LLVM/Builtins.hs
  src/SAWScript/Crucible/LLVM/ResolveSetupValue.hs
Labels: crucible/jvm, crucible/llvm

#505 Crucible/LLVM: Better error message on symbolic bad pointer load
  src/SAWScript/Crucible/LLVM/Override.hs
Labels: crucible/llvm
