Repository GaloisInc/saw-script, pull requests merged in 2019-08, with the labels that each got.

#519 Allow pointers to one past the end of allocations
  src/SAWScript/Crucible/Common/Override.hs
  src/SAWScript/Crucible/LLVM/Override.hs
  src/SAWScript/Crucible/LLVM/ResolveSetupValue.hs
Labels: crucible/llvm

#525 Crucible/LLVM: Group argument equality assertions in override matching
  src/SAWScript/Crucible/Common/Override.hs
  src/SAWScript/Crucible/LLVM/Builtins.hs
  src/SAWScript/Crucible/LLVM/Override.hs
Labels: crucible/llvm, enhancement, error-messages

#530 Crucible/All: Deduplication of override matching code
  saw-script.cabal
  src/SAWScript/Crucible/Common.hs
  src/SAWScript/Crucible/Common/Override.hs
  src/SAWScript/Crucible/Common/Override/Monad.hs
  src/SAWScript/Crucible/Common/Override/Operations.hs
  src/SAWScript/Crucible/JVM/Override.hs
  src/SAWScript/Crucible/LLVM/Builtins.hs
  src/SAWScript/Crucible/LLVM/Override.hs
  src/SAWScript/Crucible/LLVM/ResolveSetupValue.hs
Labels: crucible/jvm, crucible/llvm

#528 Crucible/LLVM: Assert and assume that allocations happen at the right alignment
  src/SAWScript/Crucible/LLVM/Builtins.hs
  src/SAWScript/Crucible/LLVM/CrucibleLLVM.hs
  src/SAWScript/Crucible/LLVM/Override.hs
Labels: crucible/llvm

#532 Revert #525
  src/SAWScript/Crucible/Common.hs
  src/SAWScript/Crucible/Common/Override/Operations.hs
  src/SAWScript/Crucible/JVM/Override.hs
  src/SAWScript/Crucible/LLVM/Builtins.hs
  src/SAWScript/Crucible/LLVM/Override.hs
Labels: crucible/llvm
