Repository GaloisInc/saw-script, pull requests merged in 2021-08, with the labels that each got.

#1401 Bugfix: infinite loop in eliminating an LLVM block permission
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
Labels: Heapster, ready-to-merge

#1405 Bring SAW variables of type Bool into Cryptol expressions
  CHANGES.md
  intTests/test1404/test.saw
  intTests/test1404/test.sh
  src/SAWScript/Value.hs
Labels: ready-to-merge

#1406 Heapster memblock prover improvements
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
Labels: Heapster

#1410 Redo Heapster Lifetime Subsumption
  heapster-saw/src/Verifier/SAW/Heapster/IRTTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Parser.y
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/RustTypes.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/Token.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypeChecker.hs
  heapster-saw/src/Verifier/SAW/Heapster/UntypedAST.hs
Labels: Heapster

#1413 [Heapster] Reduce catchpoints and add more Mbox proofs
  heapster-saw/examples/arrays.v
  heapster-saw/examples/clearbufs.v
  heapster-saw/examples/iter_linked_list.v
  heapster-saw/examples/iter_linked_list_proofs.v
  heapster-saw/examples/mbox.v
  heapster-saw/examples/mbox_proofs.v
  heapster-saw/examples/rust_lifetimes.v
  heapster-saw/examples/string_set.v
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
Labels: Heapster

#1414 Heapster bugfixes for tcCFG
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
Labels: ready-to-merge, Heapster

#1415 Heapster fix lowned proofs
  heapster-saw/examples/arrays.v
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
Labels: ready-to-merge, Heapster

#1328 saw-core-coq: fix and document the local translation state
  saw-core-coq/coq/generated/CryptolToCoq/CryptolPrimitivesForSAWCore.v
  saw-core-coq/coq/generated/CryptolToCoq/SAWCorePrelude.v
  saw-core-coq/src/Verifier/SAW/Translation/Coq.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/CryptolModule.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/Monad.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/SAWModule.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/SpecialTreatment.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/Term.hs
Labels: ready-to-merge

#1416 Updated type inference to not re-type-check the bodies and types of globals
  saw-core/src/Verifier/SAW/OpenTerm.hs
  saw-core/src/Verifier/SAW/SCTypeCheck.hs
Labels: ready-to-merge

#1426 Bugfix: normalize SAW core types when necessary to type elimination forms
  saw-core/src/Verifier/SAW/SCTypeCheck.hs
Labels: ready-to-merge

#1427 Heapster: remove generated coq files
  .github/workflows/ci.yml
  heapster-saw/examples/.gitignore
  heapster-saw/examples/Makefile
  heapster-saw/examples/_CoqProject
  heapster-saw/examples/arrays.saw
  heapster-saw/examples/arrays.v
  heapster-saw/examples/arrays_proofs.v
  heapster-saw/examples/clearbufs.saw
  heapster-saw/examples/clearbufs.v
  heapster-saw/examples/clearbufs_proofs.v
  heapster-saw/examples/iso_recursive.saw
  heapster-saw/examples/iso_recursive.v
  heapster-saw/examples/iso_recursive_proofs.v
  heapster-saw/examples/iter_linked_list.saw
  heapster-saw/examples/iter_linked_list.v
  heapster-saw/examples/iter_linked_list_proofs.v
  heapster-saw/examples/linked_list.saw
  heapster-saw/examples/linked_list.v
  heapster-saw/examples/linked_list_proofs.v
  heapster-saw/examples/loops.saw
  heapster-saw/examples/loops.v
  heapster-saw/examples/loops_proofs.v
  heapster-saw/examples/mbox.saw
  heapster-saw/examples/mbox.v
  heapster-saw/examples/mbox_proofs.v
  heapster-saw/examples/memcpy.saw
  heapster-saw/examples/memcpy.v
  heapster-saw/examples/memcpy_proofs.v
  heapster-saw/examples/rust_data.saw
  heapster-saw/examples/rust_data.v
  heapster-saw/examples/rust_data_proofs.v
  heapster-saw/examples/rust_lifetimes.saw
  heapster-saw/examples/rust_lifetimes.v
  heapster-saw/examples/rust_lifetimes_proofs.v
  heapster-saw/examples/string_set.saw
  heapster-saw/examples/string_set.sawcore
  heapster-saw/examples/string_set.v
  heapster-saw/examples/string_set_proofs.v
  heapster-saw/examples/xor_swap.saw
  heapster-saw/examples/xor_swap.v
  heapster-saw/examples/xor_swap_proofs.v
  heapster-saw/examples/xor_swap_rust.saw
  heapster-saw/examples/xor_swap_rust.v
  heapster-saw/examples/xor_swap_rust_proofs.v
Labels: ready-to-merge, Heapster

#1422 [Heapster] Simplify translation of `exists x.eq(y)` perms
  heapster-saw/examples/_CoqProject
  heapster-saw/examples/arrays_proofs.v
  heapster-saw/examples/clearbufs.sawcore
  heapster-saw/examples/iter_linked_list_proofs.v
  heapster-saw/examples/linked_list_proofs.v
  heapster-saw/examples/loops_proofs.v
  heapster-saw/examples/mbox.saw
  heapster-saw/examples/mbox.sawcore
  heapster-saw/examples/mbox_proofs.v
  heapster-saw/examples/rust_data.saw
  heapster-saw/examples/rust_data.sawcore
  heapster-saw/examples/rust_data_proofs.v
  heapster-saw/examples/rust_lifetimes.saw
  heapster-saw/examples/rust_lifetimes.sawcore
  heapster-saw/examples/xor_swap_proofs.v
  heapster-saw/examples/xor_swap_rust_proofs.v
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
Labels: ready-to-merge

#1437 Heapster substitution improvements
  cabal.GHC-8.10.3.config
  cabal.GHC-8.8.4.config
  cabal.project
  heapster-saw/examples/rust_data.bc
  heapster-saw/examples/rust_data.rs
  heapster-saw/examples/rust_data.saw
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
Labels: ready-to-merge, Heapster
