Repository GaloisInc/saw-script, pull requests merged in 2021-11, with the labels that each got.

#1490 [Heapster] Another improvement to widening offsets
  heapster-saw/examples/arrays.bc
  heapster-saw/examples/arrays.c
  heapster-saw/examples/arrays.saw
  heapster-saw/examples/arrays_proofs.v
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/Widening.hs
  saw-core-coq/coq/handwritten/CryptolToCoq/SAWCoreBitvectors.v
Labels: ready-to-merge, Heapster

#1495 [saw-core-coq] Check bitvector lemmas for < 4 bits
  heapster-saw/examples/arrays_proofs.v
  heapster-saw/examples/iter_linked_list_proofs.v
  heapster-saw/examples/loops_proofs.v
  heapster-saw/examples/mbox_proofs.v
  saw-core-coq/coq/handwritten/CryptolToCoq/SAWCoreBitvectors.v
  saw-core-coq/coq/handwritten/CryptolToCoq/SAWCoreVectorsAsCoqVectors.v
Labels: ready-to-merge, saw-core-coq, Heapster

#1497 Provide implementations for remaining bitvector primitives
  saw-core-coq/coq/handwritten/CryptolToCoq/SAWCoreVectorsAsCoqVectors.v
Labels: ready-to-merge, saw-core-coq

#1503 More updates to Coq extraction
  doc/manual/galois-whitepaper.cls
  doc/manual/manual.md
  doc/manual/manual.pdf
  saw-core-coq/coq/generated/CryptolToCoq/SAWCorePrelude.v
  saw-core-coq/coq/handwritten/CryptolToCoq/CryptolPrimitivesForSAWCoreExtra.v
  saw-core-coq/coq/handwritten/CryptolToCoq/SAWCorePreludeExtra.v
  saw-core-coq/src/Verifier/SAW/Translation/Coq/Term.hs
  saw-core/prelude/Prelude.sawcore
Labels: ready-to-merge

#1501 Fix crux-mir-comp build and add to CI
  .github/ci.sh
  crux-mir-comp/crux-mir-comp.cabal
  crux-mir-comp/src/Mir/Compositional.hs
  crux-mir-comp/src/Mir/Compositional/Builder.hs
  crux-mir-comp/src/Mir/Compositional/Clobber.hs
  crux-mir-comp/src/Mir/Compositional/Override.hs
  crux-mir-comp/src/Mir/Cryptol.hs
  crux-mir-comp/test/Test.hs
Labels: ready-to-merge

#1504 Heapster rust string lits
  heapster-saw/examples/rust_data.saw
  heapster-saw/src/Verifier/SAW/Heapster/CruUtil.hs
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/LLVMGlobalConst.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
  saw-core-coq/coq/generated/CryptolToCoq/SAWCorePrelude.v
  saw-core/prelude/Prelude.sawcore
  src/SAWScript/HeapsterBuiltins.hs
Labels: ready-to-merge, Heapster

#1505 Heapster: duplicate read memblocks
  heapster-saw/examples/rust_data.bc
  heapster-saw/examples/rust_data.rs
  heapster-saw/examples/rust_data.saw
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
Labels: ready-to-merge, Heapster

#1496 saw-core typechecking debugging
  saw-core/src/Verifier/SAW/SCTypeCheck.hs
Labels: error-messages, ready-to-merge, saw-core

#1287 Test different optimization levels in test0036_global
  intTests/test0036_global/Makefile
  intTests/test0036_global/README
  intTests/test0036_global/test-O1.bc
  intTests/test0036_global/test-O1.ll
  intTests/test0036_global/test-O2.bc
  intTests/test0036_global/test-O2.ll
  intTests/test0036_global/test-appropriate-overrides.saw
  intTests/test0036_global/test-common.saw
  intTests/test0036_global/test-global-initializer.saw
  intTests/test0036_global/test-no-init.saw
  intTests/test0036_global/test-sketchy-overrides-O1.saw
  intTests/test0036_global/test-sketchy-overrides-O2.saw
  intTests/test0036_global/test.bc
  intTests/test0036_global/test.c
  intTests/test0036_global/test.saw
  intTests/test0036_global/test.sh
Labels: ready-to-merge

#1491 Updating the output type of `alloca` in heapster
  heapster-saw/examples/arrays_proofs.v
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
  heapster-saw/src/Verifier/SAW/Heapster/Widening.hs
Labels: ready-to-merge, Heapster

#1512 Address Heapster Implication Prover Bug (Word Equality)
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
Labels: bug, ready-to-merge, Heapster

#1509 More Heapster lifetime debugging
  heapster-saw/examples/rust_data.saw
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
Labels: ready-to-merge, Heapster

#1519 Fix Heapster type-checking bugs for Rust
  cabal.project
  heapster-saw/examples/_CoqProject
  heapster-saw/examples/c_data.bc
  heapster-saw/examples/c_data.c
  heapster-saw/examples/c_data.saw
  heapster-saw/examples/c_data_proofs.v
  heapster-saw/examples/rust_data.bc
  heapster-saw/examples/rust_data.rs
  heapster-saw/examples/rust_data.saw
  heapster-saw/examples/rust_lifetimes.bc
  heapster-saw/examples/rust_lifetimes.rs
  heapster-saw/examples/rust_lifetimes.saw
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/RustTypes.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
Labels: ready-to-merge, Heapster

#1523 Heapster bugfixes for sha512 example
  heapster-saw/examples/_CoqProject
  heapster-saw/examples/mbox_proofs.v
  heapster-saw/examples/sha512.bc
  heapster-saw/examples/sha512.c
  heapster-saw/examples/sha512.saw
  heapster-saw/examples/sha512_proofs.v
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
Labels: ready-to-merge, Heapster

#1525 More Heapster rust typechecking bugs
  heapster-saw/examples/rust_data.saw
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  src/SAWScript/HeapsterBuiltins.hs
  src/SAWScript/Interpreter.hs
Labels: ready-to-merge, Heapster

#1524 SAW-core translator: lets in lambda bodies
  saw-core-coq/coq/generated/CryptolToCoq/CryptolPrimitivesForSAWCore.v
  saw-core-coq/coq/generated/CryptolToCoq/SAWCorePrelude.v
  saw-core-coq/src/Language/Coq/AST.hs
  saw-core-coq/src/Language/Coq/Pretty.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/Term.hs
Labels: ready-to-merge, saw-core-coq
