Repository GaloisInc/saw-script, pull requests merged in 2021-12, with the labels that each got.

#1528 Heapster/exponential code explosion
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/LLVMGlobalConst.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
  heapster-saw/src/Verifier/SAW/Heapster/Widening.hs
  saw-core/src/Verifier/SAW/OpenTerm.hs
  src/SAWScript/HeapsterBuiltins.hs
Labels: ready-to-merge, Heapster

#1529 Update Permissions.md
  heapster-saw/doc/Permissions.md
Labels: ready-to-merge

#1530 Coq translator: efficient array and integer literals
  saw-core-coq/src/Language/Coq/Pretty.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/Term.hs
Labels: ready-to-merge, saw-core-coq

#1531 Heapster: freshen LLVM global names
  heapster-saw/src/Verifier/SAW/Heapster/LLVMGlobalConst.hs
  saw-core/src/Verifier/SAW/SharedTerm.hs
Labels: ready-to-merge, Heapster

#1536 Heapster permIndicesForProvingOffset using llvmPermContainsArray
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
Labels: Heapster

#1534 x86: Pass the right `nameEnv` in `resolvePtrSetupValue`
  .gitignore
  intTests/test1533/Makefile
  intTests/test1533/test.bc
  intTests/test1533/test.c
  intTests/test1533/test.exe
  intTests/test1533/test.saw
  intTests/test1533/test.sh
  src/SAWScript/Crucible/LLVM/X86.hs
Labels: ready-to-merge

#1535 Mergify: switch from strict mode to a merge queue
  .github/mergify.yml
Labels: CI

#1538 saw-remote-api: Reach parity with SAWScript for global option settings
  saw-remote-api/CHANGELOG.md
  saw-remote-api/docs/SAW.rst
  saw-remote-api/python/CHANGELOG.md
  saw-remote-api/python/saw_client/__init__.py
  saw-remote-api/python/saw_client/commands.py
  saw-remote-api/python/saw_client/connection.py
  saw-remote-api/python/saw_client/option.py
  saw-remote-api/python/tests/saw/test-files/Makefile
  saw-remote-api/python/tests/saw/test-files/llvm_lax_pointer_ordering.bc
  saw-remote-api/python/tests/saw/test-files/llvm_lax_pointer_ordering.c
  saw-remote-api/python/tests/saw/test_llvm_lax_pointer_ordering.py
  saw-remote-api/src/SAWServer/SetOption.hs
Labels: enhancement, saw-remote-api, ready-to-merge

#1543 Heapster: Add support for the trivially false permission
  heapster-saw/examples/rust_data.bc
  heapster-saw/examples/rust_data.rs
  heapster-saw/examples/rust_data.saw
  heapster-saw/src/Verifier/SAW/Heapster/IRTTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/LLVMGlobalConst.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/RustTypes.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  saw-core-coq/coq/generated/CryptolToCoq/SAWCorePrelude.v
  saw-core/prelude/Prelude.sawcore
Labels: enhancement, Heapster

#1544 Heapster: use unsafeAssert for translating BVProps known to hold
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  saw-core-coq/coq/handwritten/CryptolToCoq/SAWCoreBitvectors.v
  saw-core-coq/src/Verifier/SAW/Translation/Coq/SpecialTreatment.hs
  saw-core/prelude/Prelude.sawcore
  src/SAWScript/HeapsterBuiltins.hs
Labels: ready-to-merge, Heapster

#1545 [Heapster] Don't use Coq let-bindings in Heapster specs
  heapster-saw/examples/_CoqProject
  heapster-saw/examples/arrays_proofs.v
  heapster-saw/examples/exp_explosion.bc
  heapster-saw/examples/exp_explosion.c
  heapster-saw/examples/exp_explosion.saw
  heapster-saw/examples/exp_explosion_proofs.v
  heapster-saw/examples/linked_list_proofs.v
  heapster-saw/examples/sha512.bc
  heapster-saw/examples/sha512.c
  heapster-saw/examples/sha512.saw
  heapster-saw/examples/sha512_proofs.v
  heapster-saw/examples/xor_swap_proofs.v
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  saw-core-coq/coq/generated/CryptolToCoq/SAWCorePrelude.v
  saw-core-coq/coq/handwritten/CryptolToCoq/CompMExtra.v
  saw-core-coq/coq/handwritten/CryptolToCoq/SAWCoreScaffolding.v
  saw-core-coq/src/Verifier/SAW/Translation/Coq/SpecialTreatment.hs
  saw-core/prelude/Prelude.sawcore
  saw-core/src/Verifier/SAW/OpenTerm.hs
Labels: ready-to-merge, Heapster

#1549 Heapster: existential function output perms
  heapster-saw/examples/rust_data.saw
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Parser.y
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/RustTypes.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypeChecker.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypedCrucible.hs
  heapster-saw/src/Verifier/SAW/Heapster/UntypedAST.hs
Labels: ready-to-merge, Heapster
