Repository GaloisInc/saw-script, pull requests merged in 2022-03, with the labels that each got.

#1600 Mr Solver Widening
  heapster-saw/examples/Makefile
  heapster-saw/examples/arrays_mr_solver.saw
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/SMT.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
  src/SAWScript/Prover/MRSolver/Term.hs
Labels: ready-to-merge, MRSolver

#1602 [MrSolver] Add support for 'either's
  heapster-saw/examples/Makefile
  heapster-saw/examples/linked_list.bc
  heapster-saw/examples/linked_list.c
  heapster-saw/examples/linked_list_mr_solver.saw
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/SMT.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
  src/SAWScript/Prover/MRSolver/Term.hs
Labels: ready-to-merge, MRSolver

#1605 Mr Solver precondition hints
  heapster-saw/examples/arrays.sawcore
  heapster-saw/examples/arrays_mr_solver.saw
  saw-core-coq/coq/generated/CryptolToCoq/CryptolPrimitivesForSAWCore.v
  saw-core-coq/coq/generated/CryptolToCoq/SAWCorePrelude.v
  saw-core-coq/src/Verifier/SAW/Translation/Coq/SpecialTreatment.hs
  saw-core/prelude/Prelude.sawcore
  saw-core/src/Verifier/SAW/Term/Functor.hs
  saw-remote-api/src/SAWServer.hs
  src/SAWScript/Builtins.hs
  src/SAWScript/Interpreter.hs
  src/SAWScript/Prover/MRSolver.hs
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/SMT.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
  src/SAWScript/Prover/MRSolver/Term.hs
  src/SAWScript/Value.hs
Labels: ready-to-merge, MRSolver

#1599 [CI] Raise sn2-tests timeout to 2h
  .github/workflows/ci.yml
Labels: ready-to-merge

#1609 Mr Solver support for monadic Cryptol specs
  cryptol-saw-core/saw/CryptolM.sawcore
  cryptol-saw-core/src/Verifier/SAW/Cryptol.hs
  cryptol-saw-core/src/Verifier/SAW/Cryptol/Monadify.hs
  cryptol-saw-core/src/Verifier/SAW/CryptolEnv.hs
  heapster-saw/examples/Either.cry
  heapster-saw/examples/either.saw
  heapster-saw/examples/linked_list.cry
  heapster-saw/examples/linked_list_mr_solver.saw
  saw-core/src/Verifier/SAW/SharedTerm.hs
  src/SAWScript/Builtins.hs
  src/SAWScript/Interpreter.hs
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/SMT.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
Labels: ready-to-merge, MRSolver

#1615 Add generation of Coq translator libraries to CI
  .github/workflows/ci.yml
  s2nTests/docker/blst.dockerfile
  saw-core-coq/coq/Makefile
  saw-core-coq/coq/generated/.gitignore
  saw-core-coq/coq/generated/CryptolToCoq/CryptolPrimitivesForSAWCore.v
  saw-core-coq/coq/generated/CryptolToCoq/SAWCorePrelude.v
Labels: ready-to-merge, saw-core-coq, CI

#1614 Fix error in `permForLLVMArrayBorrow`
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
Labels: ready-to-merge, Heapster

#1622 Fix `blst-verification` regression test and update pinned commit
  s2nTests/docker/blst.dockerfile
  s2nTests/scripts/blst-entrypoint.sh
Labels: CI

#1624 [MRSolver] Changes to Mr. Solver to get zero_array working
  cryptol-saw-core/cryptol-saw-core.cabal
  cryptol-saw-core/saw/CryptolM.sawcore
  cryptol-saw-core/src/Verifier/SAW/Cryptol/Monadify.hs
  heapster-saw/examples/SpecPrims.cry
  heapster-saw/examples/arrays.cry
  heapster-saw/examples/arrays.sawcore
  heapster-saw/examples/arrays_mr_solver.saw
  heapster-saw/examples/exp_explosion.cry
  heapster-saw/examples/exp_explosion.saw
  heapster-saw/examples/exp_explosion_mr_solver.saw
  heapster-saw/examples/linked_list_mr_solver.saw
  heapster-saw/examples/specPrims.saw
  saw-core-coq/coq/handwritten/CryptolToCoq/CompM.v
  saw-core-coq/src/Verifier/SAW/Translation/Coq/SpecialTreatment.hs
  saw-core/prelude/Prelude.sawcore
  saw-core/src/Verifier/SAW/Simulator/Prims.hs
  src/SAWScript/Builtins.hs
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/SMT.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
  src/SAWScript/Prover/MRSolver/Term.hs
Labels: ready-to-merge, MRSolver
