Repository GaloisInc/saw-script, pull requests merged in 2022-06, with the labels that each got.

#1679 Goal metadata
  CHANGES.md
  crux-mir-comp/src/Mir/Compositional/Builder.hs
  crux-mir-comp/src/Mir/Compositional/Override.hs
  intTests/test_goal_tags_01/Makefile
  intTests/test_goal_tags_01/README
  intTests/test_goal_tags_01/test.bc
  intTests/test_goal_tags_01/test.c
  intTests/test_goal_tags_01/test.ll
  intTests/test_goal_tags_01/test.saw
  intTests/test_goal_tags_01/test.sh
  saw-remote-api/src/SAWServer.hs
  src/SAWScript/Builtins.hs
  src/SAWScript/Crucible/Common/MethodSpec.hs
  src/SAWScript/Crucible/Common/Override.hs
  src/SAWScript/Crucible/Common/Setup/Builtins.hs
  src/SAWScript/Crucible/Common/Setup/Type.hs
  src/SAWScript/Crucible/JVM/Builtins.hs
  src/SAWScript/Crucible/JVM/MethodSpecIR.hs
  src/SAWScript/Crucible/JVM/Override.hs
  src/SAWScript/Crucible/JVM/ResolveSetupValue.hs
  src/SAWScript/Crucible/LLVM/Builtins.hs
  src/SAWScript/Crucible/LLVM/MethodSpecIR.hs
  src/SAWScript/Crucible/LLVM/Override.hs
  src/SAWScript/Crucible/LLVM/X86.hs
  src/SAWScript/Interpreter.hs
  src/SAWScript/Proof.hs
  src/SAWScript/Value.hs
  src/SAWScript/X86.hs
Labels: ready-to-merge

#1686 Expand Mr. Solver heterogeneity, improve monadification for SHA512 example
  cryptol-saw-core/src/Verifier/SAW/Cryptol/Monadify.hs
  heapster-saw/examples/arrays_mr_solver.saw
  heapster-saw/examples/sha512.bc
  heapster-saw/examples/sha512.c
  heapster-saw/examples/sha512.cry
  heapster-saw/examples/sha512.saw
  heapster-saw/examples/sha512_mr_solver.saw
  heapster-saw/examples/sha512_proofs.v
  saw-core/src/Verifier/SAW/SharedTerm.hs
  src/SAWScript/Builtins.hs
  src/SAWScript/Interpreter.hs
  src/SAWScript/Prover/MRSolver.hs
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/SMT.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
  src/SAWScript/Prover/MRSolver/Term.hs
Labels: ready-to-merge, MRSolver

#1690 Heapster multi-way or eliminations
  heapster-saw/examples/linked_list_proofs.v
  heapster-saw/examples/mbox_proofs.v
  heapster-saw/src/Verifier/SAW/Heapster/IRTTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  saw-core-coq/coq/handwritten/CryptolToCoq/CompM.v
  saw-core-coq/coq/handwritten/CryptolToCoq/CompMExtra.v
  saw-core-coq/coq/handwritten/CryptolToCoq/SAWCoreBitvectors.v
  saw-core/prelude/Prelude.sawcore
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
  src/SAWScript/Prover/MRSolver/Term.hs
Labels: ready-to-merge, Heapster

#1692 Specification refinement
  intTests/test_llvm_refine/Makefile
  intTests/test_llvm_refine/README
  intTests/test_llvm_refine/test.bc
  intTests/test_llvm_refine/test.c
  intTests/test_llvm_refine/test.ll
  intTests/test_llvm_refine/test.saw
  intTests/test_llvm_refine/test.sh
  src/SAWScript/Crucible/LLVM/Builtins.hs
  src/SAWScript/Crucible/LLVM/Override.hs
  src/SAWScript/Interpreter.hs
  src/SAWScript/Utils.hs
Labels: ready-to-merge
