Repository GaloisInc/saw-script, pull requests merged in 2022-05, with the labels that each got.

#1652 Adding libreadline-dev to saw-remote-api to support abc
  saw-remote-api/Dockerfile
Labels: ready-to-merge

#1651 The Heapster any permission
  heapster-saw/src/Verifier/SAW/Heapster/IRTTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Lexer.x
  heapster-saw/src/Verifier/SAW/Heapster/Parser.y
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
  heapster-saw/src/Verifier/SAW/Heapster/Token.hs
  heapster-saw/src/Verifier/SAW/Heapster/TypeChecker.hs
  heapster-saw/src/Verifier/SAW/Heapster/UntypedAST.hs
Labels: ready-to-merge, Heapster

#1650 WIP: Heapster/try unifying arrays
  heapster-saw/proverTests/Main.hs
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/LLVMGlobalConst.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  saw-core/src/Verifier/SAW/SCTypeCheck.hs
Labels: ready-to-merge, Heapster

#1654 Removed errors and compiler warnings from HintExtract.hs
  heapster-saw/src/Verifier/SAW/Heapster/HintExtract.hs
  src/SAWScript/HeapsterBuiltins.hs
Labels: ready-to-merge

#1659 Heapster array permission bug fixes
  heapster-saw/examples/arrays.bc
  heapster-saw/examples/arrays.c
  heapster-saw/examples/arrays.saw
  heapster-saw/examples/rust_data.bc
  heapster-saw/examples/rust_data.rs
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
Labels: ready-to-merge, Heapster

#1660 Add an `eval_int` command to the remote API and Python interface
  saw-remote-api/CHANGELOG.md
  saw-remote-api/docs/SAW.rst
  saw-remote-api/python/CHANGELOG.md
  saw-remote-api/python/poetry.lock
  saw-remote-api/python/saw_client/__init__.py
  saw-remote-api/python/saw_client/commands.py
  saw-remote-api/python/saw_client/connection.py
  saw-remote-api/python/tests/saw/test_eval.py
  saw-remote-api/saw-remote-api.cabal
  saw-remote-api/saw-remote-api/Main.hs
  saw-remote-api/src/SAWServer/Eval.hs
Labels: ready-to-merge

#1657 Search for uninterpreted names in both Cryptol and SAWCore naming environments
  intTests/test_unint_extcore/test.sh
  intTests/test_unint_extcore/test_unint.saw
  intTests/test_unint_extcore/unint.cry
  src/SAWScript/Builtins.hs
Labels: ready-to-merge

#1661 Progress on Mr. Solver SHA512 example
  heapster-saw/examples/Makefile
  heapster-saw/examples/sha512.bc
  heapster-saw/examples/sha512.c
  heapster-saw/examples/sha512.cry
  heapster-saw/examples/sha512_mr_solver.saw
  heapster-saw/proverTests/Main.hs
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  saw-core/prelude/Prelude.sawcore
  saw-core/src/Verifier/SAW/Recognizer.hs
  src/SAWScript/Prover/MRSolver/SMT.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
Labels: ready-to-merge, Heapster, MRSolver

#1666 Mr solver: sorted insert example
  cryptol-saw-core/src/Verifier/SAW/Cryptol/Monadify.hs
  heapster-saw/examples/either.saw
  heapster-saw/examples/linked_list.cry
  heapster-saw/examples/linked_list_mr_solver.saw
  saw-core/prelude/Prelude.sawcore
Labels: ready-to-merge, MRSolver

#1667 Make lifetimesThatCouldProve more precise
  heapster-saw/src/Verifier/SAW/Heapster/Implication.hs
  heapster-saw/src/Verifier/SAW/Heapster/Permissions.hs
  heapster-saw/src/Verifier/SAW/Heapster/SAWTranslation.hs
Labels: ready-to-merge, Heapster

#1670 Add heterogenous equality to Mr. Solver for SHA512 example
  cryptol-saw-core/saw/CryptolM.sawcore
  heapster-saw/examples/sha512.cry
  heapster-saw/examples/sha512_mr_solver.saw
  saw-core/src/Verifier/SAW/Recognizer.hs
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/SMT.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
  src/SAWScript/Prover/MRSolver/Term.hs
Labels: ready-to-merge, MRSolver

#1671 CI: Signing improvements
  .github/ci.sh
  .github/workflows/ci.yml
Labels: ready-to-merge, CI

#1675 Improve MRSolver interface
  cryptol-saw-core/src/Verifier/SAW/Cryptol/Monadify.hs
  examples/mr_solver/mr_solver_unit_tests.saw
  heapster-saw/examples/arrays_mr_solver.saw
  heapster-saw/examples/exp_explosion_mr_solver.saw
  heapster-saw/examples/linked_list_mr_solver.saw
  heapster-saw/examples/sha512_mr_solver.saw
  src/SAWScript/Builtins.hs
  src/SAWScript/Interpreter.hs
  src/SAWScript/Prover/MRSolver.hs
  src/SAWScript/Prover/MRSolver/Monad.hs
  src/SAWScript/Prover/MRSolver/Solver.hs
  src/SAWScript/Prover/MRSolver/Term.hs
Labels: ready-to-merge, MRSolver
