Repository GaloisInc/saw-script, pull requests merged in 2022-10, with the labels that each got.

#1727 Heapster tutorial
  heapster-saw/doc/tutorial/tutorial.md
  heapster-saw/examples/tutorial_c.bc
  heapster-saw/examples/tutorial_c.c
  heapster-saw/examples/tutorial_c.saw
  heapster-saw/examples/tutorial_c.v
  heapster-saw/examples/tutorial_c_proofs.v
  saw-core-coq/coq/handwritten/CryptolToCoq/CompMExtra.v
Labels: documentation, ready-to-merge, Heapster

#1749 Fix Coq translator for globals that are not applied
  saw-core-coq/src/Verifier/SAW/Translation/Coq/Monad.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/SpecialTreatment.hs
  saw-core-coq/src/Verifier/SAW/Translation/Coq/Term.hs
  src/SAWScript/Prover/Exporter.hs
Labels: saw-core-coq

#1755 Allow use of Cryptol property names as simplification rules
  intTests/test_property_as_rewrite_rule/README.md
  intTests/test_property_as_rewrite_rule/test.cry
  intTests/test_property_as_rewrite_rule/test.saw
  intTests/test_property_as_rewrite_rule/test.sh
  saw-core/src/Verifier/SAW/Rewriter.hs
  src/SAWScript/Builtins.hs
  src/SAWScript/Proof.hs
Labels: ready-to-merge
