Repository GaloisInc/saw-script, pull requests merged in 2024-08, with the labels that each got.

#2087 CI: Use Docker Compose v2
  .github/workflows/ci.yml
  s2nTests/Makefile
  s2nTests/docker-compose.yml
Labels: CI

#2076 Improve AST-level source position tracking.
  CHANGES.md
  intTests/support/test-and-diff.sh
  intTests/test_type_errors/.gitignore
  intTests/test_type_errors/err001.log.good
  intTests/test_type_errors/err001.saw
  intTests/test_type_errors/test.sh
  saw/SAWScript/REPL/Command.hs
  src/SAWScript/AST.hs
  src/SAWScript/AutoMatch.hs
  src/SAWScript/Interpreter.hs
  src/SAWScript/MGU.hs
  src/SAWScript/Parser.y
  src/SAWScript/Position.hs
Labels: error-messages, usability, tech-debt, error-handling

#2102 Remove leftover bashism in build.sh
  build.sh
Labels: bug, build system

#2104 Use -v0 with cabal list-bin in build.sh.
  build.sh
Labels: bug, build system

#2094 Rework the position tracking for types.
  intTests/test_type_errors/err001.log.good
  src/SAWScript/AST.hs
  src/SAWScript/Interpreter.hs
  src/SAWScript/MGU.hs
  src/SAWScript/Parser.y
  src/SAWScript/Position.hs
Labels: error-messages, tech-debt, error-handling
