Repository GaloisInc/saw-script, pull requests merged in 2024-07, with the labels that each got.

#2025 MIR string slices
  CHANGES.md
  crucible-mir-comp/src/Mir/Compositional/Builder.hs
  doc/manual/head.tex
  doc/manual/manual.md
  doc/manual/manual.pdf
  intTests/test_mir_verify_str_slices/Makefile
  intTests/test_mir_verify_str_slices/test.linked-mir.json
  intTests/test_mir_verify_str_slices/test.rs
  intTests/test_mir_verify_str_slices/test.saw
  intTests/test_mir_verify_str_slices/test.sh
  saw-remote-api/CHANGELOG.md
  saw-remote-api/python/CHANGELOG.md
  saw-remote-api/python/saw_client/crucible.py
  saw-remote-api/python/tests/saw/test-files/mir_str_slices.linked-mir.json
  saw-remote-api/python/tests/saw/test-files/mir_str_slices.rs
  saw-remote-api/python/tests/saw/test_mir_str_slices.py
  saw-remote-api/src/SAWServer.hs
  saw-remote-api/src/SAWServer/Data/SetupValue.hs
  saw-remote-api/src/SAWServer/JVMCrucibleSetup.hs
  saw-remote-api/src/SAWServer/LLVMCrucibleSetup.hs
  saw-remote-api/src/SAWServer/MIRCrucibleSetup.hs
  src/SAWScript/Crucible/Common/MethodSpec.hs
  src/SAWScript/Crucible/MIR/Builtins.hs
  src/SAWScript/Crucible/MIR/MethodSpecIR.hs
  src/SAWScript/Crucible/MIR/Override.hs
  src/SAWScript/Crucible/MIR/ResolveSetupValue.hs
  src/SAWScript/Crucible/MIR/Setup/Value.hs
  src/SAWScript/Crucible/MIR/TypeShape.hs
  src/SAWScript/Interpreter.hs
Labels: crucible/mir

#2061 Build crux-mir-comp by default in build.sh.
  build.sh
Labels: build system, crucible/mir-comp

#2066 Improvements to build.sh.
  build.sh
Labels: build system

#2074 Handle plain ":t" in the repl better
  saw/SAWScript/REPL/Command.hs
Labels: error-messages, error-handling
