Repository GaloisInc/saw-script, pull requests merged in 2025-04, with the labels that each got.

#1344 Propagate Cryptol error strings
  CHANGES.md
  cryptol-saw-core/saw/Cryptol.sawcore
  intTests/test2049/test.log.1.good
  intTests/test2049/test.log.2.good
  intTests/test_llvm_errors/err001.log.good
  intTests/test_simulation_errors/.gitignore
  intTests/test_simulation_errors/err001.log.good
  intTests/test_simulation_errors/err001.saw
  intTests/test_simulation_errors/test.sh
  saw-core/prelude/Prelude.sawcore
  saw-core/src/Verifier/SAW/Simulator/Prims.hs
Labels: topics: error-messages, subsystem: saw-core

#2282 build.sh: Move to a model where build.sh takes an optional target arg
  build.sh
Labels: type: enhancement, tooling: build system

#2291 savegitinfo.sh: make a teence more robust
  src/SAWScript/savegitinfo.sh
Labels: priority

#2293 Support `quickcheck` in the remote API and Python bindings
  saw-remote-api/CHANGELOG.md
  saw-remote-api/python/CHANGELOG.md
  saw-remote-api/python/saw_client/proofscript.py
  saw-remote-api/python/tests/saw/test_provers.py
  saw-remote-api/src/SAWServer/ProofScript.hs
Labels: type: enhancement, subsystem: saw-remote-api, subsystem: saw-python, missing python features

#2297 `crux-mir-comp:test`: Show diffs when tests fail
  crux-mir-comp/test/Test.hs
Labels: subsystem: crucible-mir-comp
